@using Northwind.Models
@using System.Globalization
@model IEnumerable<Product>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>Name\Phone NumberCustomer customercustomer.CompanyNamecustomer.Citycustomer.REgionsegioncustomer.Countrycustomer.Phonre
        <th scope="col">Units In Stock</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Product product in Model)
    {
        <tr>
            <td>@product.ProductName</td>
            <td>@String.Format("{0:C2}", product.UnitPrice)</td>
            <td>@product.UnitsInStock</td>
        </tr>
    }
    </tbody>
</table>

